body {
  background: #F3F3E0;
  padding: 0 24px;
  color: #133E87; /* Change my color to yellow */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: normal;
  align-items: center;
}
div {
  margin: 10px;
  border: 2px solid #608BC1;
  background-color: #CBDCEB;
  text-align: left;
  padding: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container div {
  flex: 1;
  width: 100%
}